body{
    background-color: gray;
}
.back{
    margin-top: 6px;
/*    width: 500px;*/
}
.container-center-align{
    display: flex;
justify-content: center;
/*    align-items: center;*/
/*    align-content: center;*/
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 810px;
    width: 400px;
    background-color: #ececec8a;

}
.container h1{
    background-color: green;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family:serif;
    font-style: italic;
    overflow: hidden;
}
.screen{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width:90%;
    height: 150px;
    font-family: cursive;
    font-size: 40px;
    background-color:#E4E4D0;
flex-wrap: wrap;
    overflow-x:auto;
    word-wrap: break-word;

}

.button_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width:90%;
/*    background-color: azure;*/
    height: 500px;
    justify-content: center;
    align-items: center;

}


.small_button_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width:90%;
    justify-content: space-around;
/*    background-color:antiquewhite;*/
    height: 310px;
    align-items: center;
}

.small_button{
    height: 70px;
/*    margin: 10px;*/
    width:70px;
    background-color: #cdd2cd;
    text-align: center;
/*    box-shadow: 1px 10px 10px gray;*/


}



.large_button_container{
    display: flex;
    flex-wrap: wrap;
/*    margin-top: 10px;*/
    width:90%;
/*    justify-content: space-around;*/
/*    background-color:antiquewhite;*/
    height: 155px;
}
.large_button{

    height: 70px;
/*    margin: 10px;*/
    width:140px;
    text-align: center;
    background-color: #cdd2cd;
/*    box-shadow: 1px 10px 10px gray;*/
}

.large_button_equals{

    height: 70px;
    margin: 10px;
    width:300px;
    text-align: center;
    background-color: #cdd2cd;
/*    box-shadow: 1px 10px 10px gray;*/
}

.large_button_vertical{
    margin-left: 6.66px;
    height: 143px;
/*    margin: 10px;*/
    width:70px;
    background-color: #cdd2cd;
    margin-top: 6.66px;
    text-align: center;
/*    box-shadow: 1px 10px 10px gray;*/
}
.fit_large_button{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-around;
    align-items: center;
}

.del{
    background-color: red;
}
.back{
    margin-top: 0px
        
}
.equals{
    background-color: green;
}
